body {
  padding-left:20em;
    color: green;
    font-size: 15px;
    background-color: lightblue;
    font-family: Goudy Bookletter 1911, sans-serif;
    font-style: italic;
    font-weight: bold;

   }





h1 {
font-family: fantasy, monospace;
font-size: 40px;
text-align: left;
}




h2 {
  font-family: "Lucida" Grande, sans-serif;
  font-size: 25px;
  color: green;
  font-style: normal;
  border-style: inset;
  border-color: yellow;
  text-align: center;
  width:15em;

}


  address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
